<!doctype html>
  <head>
    <meta charset="utf-8">
    <title>HyperREST Explorer</title>
    <link rel="stylesheet" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" media="screen" href="styles.css" />
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand"><abbr title="HyperREST Explorer">HE</abbr></a>
          <div class="nav-collapse">
            <ul class="nav" id="req-address-bar">
              <li>
                <form class="navbar-form pull-left">
                  <div class="btn-group" data-toggle="buttons-radio" id="req-method">
                    <button type="button" class="btn btn-info" title="OPTIONS">O</button>
                    <button type="button" class="btn btn-info" title="HEAD">H</button>
                    <button type="button" class="btn btn-success active" title="GET">G</button>
                    <button type="button" class="btn btn-danger" title="POST">PO</button>
                    <button type="button" class="btn btn-danger" title="PATCH">PA</button>
                    <button type="button" class="btn btn-warning" title="PUT">PU</button>
                    <button type="button" class="btn btn-warning" title="DELETE">D</button>
                  </div>
                  <input type="text" class="pre input-block-level" id="req-address"></input>
                  <button type="button" class="btn btn-inverse" id="req-refresh"><i class="icon-refresh icon-white"></i></button>
                  </div>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid" id="main">
        <div class="span4">
          <h1>Resource</h1>
          <div id="resource"></div>
        </div>

        <div class="span4">
          <div id="req">
            <h1>Request</h1>
            <h2>Headers</h2>
            <div id="req-headers-bar">
              <textarea id="req-headers" class="input-block-level pre scrollable-small"></textarea>
            </div>
            <h2>Body</h2>
            <div id="req-body-bar">
              <textarea id="req-body" class="input-block-level pre scrollable"></textarea>
            </div>
          </div>
        </div>

        <div class="span4">
          <div id="res">
            <h1>Response</h1>
            <h2>Headers</h2>
            <div id="res-headers-bar">
              <pre id="res-headers" class="scrollable-small"></pre>
            </div>
            <h2>Body</h2>
            <div id="res-body-bar">
              <pre id="res-body" class="scrollable"></pre>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- TEMPLATES -->
    <script id="query-uri-template" type="text/template">
      <form id="query" action="<%= href %>">
        <p>URI Template:</p>
        <pre><%= href %></pre>
        <p>Input (JSON):</p>
        <textarea style="width: 100%; height: 300px">{ "foo": "bar" }</textarea>
        <p>Expanded URI:</p>
        <pre class="preview">&nbsp;</pre>
        <input type="submit" value="Follow URI" />
      </form>
    </script>

    <script id="non-safe-request-template" type="text/template">
      <form id="non-safe" action="<%= href %>">
        <p>Target URI: <%= href %></pre>
        <p>Method:</p>
        <input name="method" class="method" value="POST" />
        <p>Headers:</p>
        <textarea name="headers" class="headers" style="width: 100%; height: 100px">
  Content-Type: application/json
  <%= user_defined_headers %>
        </textarea>
        <p>Body:</p>
        <textarea name="body" class="body" style="width: 100%; height: 200px">
  {

  }
        </textarea>
        <input type="submit" value="Make Request" />
      </form>
    </script>

    <script id="resource-template" type="text/template">
      <% if (links && links.length) { %>
        <div class="links">
          <h2>Links</h2>
          <table class="table">
            <thead>
              <tr>
                <th>rel</th>
                <th>title</th>
                <th>props</th>
                <th>docs</th>
                <th>operations</th>
              </tr>
            </thead>
            <tbody>
              <% _.each(links, function(link) { %>
                <tr>
                  <td><strong><%= link.relShort %></strong></td>
                  <td><%= link.title || '' %></td>
                  <td title="<%= link.props %>"><%= link.name || link.index || '...' %></td>
                  <td class="links-docs">
                    <% if (link.relURI) { %>
                      <a href="<%= link.relURI %>"><i class="icon-book"></i></a>
                    <% } %>
                  </td>
                  <td class="links-buttons">
                    <div class="btn-group">
                      <button type="button" class="btn btn-info" title="OPTIONS" data-href="<%= link.href %>">O</button>
                      <button type="button" class="btn btn-info" title="HEAD" data-href="<%= link.href %>">H</button>
                      <button type="button" class="btn btn-success" title="GET" data-href="<%= link.href %>">G</button>
                      <button type="button" class="btn btn-danger" title="POST" data-href="<%= link.href %>">PO</button>
                      <button type="button" class="btn btn-danger" title="PATCH" data-href="<%= link.href %>">PA</button>
                      <button type="button" class="btn btn-warning" title="PUT" data-href="<%= link.href %>">PU</button>
                      <button type="button" class="btn btn-warning" title="DELETE" data-href="<%= link.href %>">D</button>
                    </div>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      <% } %>
      <div class="state">
        <h2>State</h2>
        <pre><%= _.escape(JSON.stringify(state, null, 2)) %></pre>
      </div>
    </script>

    <!-- SCRIPTS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/1.0.1/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/coffee-script/1.4.0/coffee-script.min.js"></script>

    <script src="vendor/js/uritemplates.js"></script>
    <script src="he.coffee" type="text/coffeescript"></script>
    <script src="he_init.coffee" type="text/coffeescript"></script>
  </body>
</html>
