/* OVERVIEW */
body {
  cursor: default;
  overflow-y: scroll;
  padding-top: 30px;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 14px;
}

pre,
.pre {
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
  color: #333;
  font-size: 12px;
  line-height: 16px;
}

.pre-scrollable {
  height: 340px;
}

.pre-scrollable-small {
  height: 100px;
  overflow-y: scroll;
}

/* ? */
#row {
  width: 150%;
  padding: 0px 20px;
}

#req-address-bar {
  float: none;
}

#req-address-bar > li:first-of-type {
  width: 80%;
}

#req-address-bar > li form {
  float: none;
}

#req-address {
  width: 65%;
}

#req-headers-bar,
#req-body-bar {
  text-align: center;
}
#req-headers,
#req-body {
  width: 95%;
  margin-bottom: 0px;
  padding: 9.5px;
}

#inspector { height: 100%; }

#inspector .body-panel iframe { width: 100%; height: 100%; }


table.table {
  font-size: 11px;
}

table .btn {
  padding: 2px 5px 2px;
  font-size: 12px;
  line-height: 14px;
}

