/* GENERAL */
body {
  cursor: default;
  padding-top: 30px;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 14px;
}

pre,
.pre {
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
  color: #333;
  font-size: 12px;
  line-height: 16px;
}

.scrollable {
  height: 440px;
  overflow-y: scroll;
  box-sizing: border-box;
}

.scrollable-small {
  height: 100px;
  overflow-y: scroll;
  box-sizing: border-box;
}

div.btn-group[data-toggle=buttons-radio] input[type=radio] {
  display:    block;
  position:   absolute;
  top:        0;
  left:       0;
  width:      100%;
  height:     100%;
  opacity:    hidden;
  visibility: hidden;
}

#main {
  width: 150%;
  padding: 0px 20px;
}


/* ADDRESS BAR */
#req-address-bar {
  float: none;
}

#req-address-bar > li {
  width: 80%;
}

#req-address-bar > li > form {
  float: none;
}

#req-address-bar > li > form > .btn-group > button.active {
  background-color: #000;
  cursor: default;
}

#req-address {
  font-size: 12px;
  width: 60%;
}

/* REQUEST */
#req-headers,
#req-body {
  margin-bottom: 0px;
  padding: 9.5px;
}


/* LINKS */
table.table {
  font-size: 11px;
}

table .btn {
  padding: 2px 5px 2px;
  font-size: 12px;
  line-height: 14px;
}
